*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%; /*16 px is 1 rem at 100%* to make 1 rem = 10 px change html at 62.5%*/
}
.titleBar{
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  color: white;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.weekHeader {
  /* border: 2px solid grey; */
  width: 100%;
  height: 70px;
  padding: 20px;
  font-size: 15px;;
  display: grid;
  grid-template-columns: repeat(8, 12px);
  grid-column-gap: 10px;
  justify-content: center;
}

.weekHeader > .addBtn {
  /* justify-self: start; */
  /* align-content: start;  */
  background-color: rgb(209, 201, 201);
  width: 20px; 
  height: 20px;
  background-image: url("img/plusBtn2.png"); 
  background-repeat: no-repeat;
  background-size: 100%; 
}
.wrapper{
  display: grid;
  height:600px;
  background-color: rgb(221, 107, 221, 0.6);
  grid-template-columns: 1.3fr 1fr;
  grid-column-gap: 10px;
}
.behavBox {
  /* border: 2px solid rgb(12, 12, 12); */
  margin-left: 40px;
  height: 90%; 
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 20px;
}
.behavBox > div {
  background-color:rgb(168, 155, 155);
  border-radius: 20px;
  
}
.calendarBox{
 border: 1px solid rgb(12, 12, 12);
 background-color:white;
 margin: 15px 15px 0 0;
 height: 90%;
 border-radius: 20px;
}

.calHeader{
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  border-radius: 20px 20px 0px 0px;
  color: white;
  /* font-weight: 300; */
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;

} 
.calHeader > h2{
  border: 2px solid  rgb(221, 107, 221);
  width: 120px;
  border-radius: 20px;
  text-align: center;
}