* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.titleBar {
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  color: white;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.weekHeader {
  /* border: 2px solid grey; */
  width: 100%;
  height: 70px;
  padding: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(8, 12px);
  grid-column-gap: 10px;
  justify-content: center;
}

.mainBox {
  display: grid;
  height: 35rem;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  width: 100%;
  justify-content: center;
  padding: 1rem;
  margin-top: 5rem;
}
/* right large activity box */
.rightBox {
  height: auto;
  background-color: white;
  border-radius: 10px;
}
.rightBoxTabs {
  width: 100%;
  height: 4rem;
  background-color: #ea80fc;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
}
.rightBoxTabs > button {
  border: 3px solid #e040fb;
  background-color: #ea80fc;
  color: white;
  height: 66%;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.rightBoxTabs > button:hover {
  background-color: #e040fb;
}
.rightBoxTabs button.active {
  background-color: #e040fb;
}

/* left large activity box */
.leftBox {
  height: auto;
  background-color: white;
  border-radius: 10px;
}

.leftBoxTabs {
  width: 100%;
  height: 60px;
  background-color: #ea80fc;
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
}
.leftBoxList ul li {
  display: none; /*get back to this later, put initial box*/
}
.leftBoxList li div {
  list-style: none;
  height: 10em;
  width: 10em;
  border-radius: 10px;
}

.leftActivities {
  padding-top: 1em;
  padding-left: 1em;
}

.leftBoxTabs > button {
  border: 3px solid #e040fb;
  background-color: #ea80fc;
  color: white;
  height: 2.7rem;
  font-size: 1em;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

.leftBoxTabs > button:hover {
  background-color: #e040fb;
}
.leftBoxTabs button.active {
  background-color: #e040fb;
}

.tabPanel {
  display: none;
}
.tabPanel > h1 {
  margin-top: 10px;
  text-align: center;
}
