
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.titleBar {
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  color: white;
  font-weight: normal;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.weekHeader {
  /* border: 2px solid grey; */
  width: 100%;
  height: 70px;
  padding: 20px;
  font-size: 15px;
  display: grid;
  grid-template-columns: repeat(8, 12px);
  grid-column-gap: 10px;
  justify-content: center;
}

.mainBox {
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 25px;
  width: 100%;
  justify-content: center;
  padding: 2em;
}
/* left large activity box */
.rightBox {
  height: auto;
  border: 1px solid rgb(12, 12, 12);
  background-color: white;
  border-radius: 10px;
}
.rightBoxTabs {
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  border-radius: 10px 10px 0px 0px;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
}
.rightBoxTabs > button {
  border: 3px solid rgb(206, 99, 206);
  background-color: rgb(240, 117, 240);
  color: white;
  height: 3em;
  font-size: 1.5vh;
  border-radius: 10px;
  text-align: center;
  outline: none;
}

.rightBoxTabs > button:hover {
  background-color: rgb(206, 99, 206);
}

/* .activitiesBox li {
  background-color:rgb(168, 155, 155);
  border-radius: 20px;
  
} */

/* right large activity box */
.leftBox {
  height: auto;
  border: 1px solid rgb(12, 12, 12);
  background-color: white;
  border-radius: 10px;
}

.leftBoxTabs {
  width: 100%;
  height: 60px;
  background-color: rgb(221, 107, 221, 0.6);
  border-radius: 10px 10px 0px 0px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-column-gap: 40px;
  justify-content: center;
  align-items: center;
}
.leftBoxList li {
  list-style: none;
  margin: 1em 1em;
  height: 10em;
  width: 10em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 10px;
}

.leftBoxTabs > button {
  border: 3px solid rgb(206, 99, 206);
  background-color: rgb(240, 117, 240);
  color: white;
  /* width: 120px;  not needed as it has to fit the text*/
  height: 66%;
  font-size: 1.5vh;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.leftBoxTabs > button:hover {
  background-color: rgb(206, 99, 206);
}


.tabPanel {
  display: none;
}
.tabPanel > h1 {
  margin-top: 10px;
  text-align: center;
}

